<div class="main">
   <div class="about-image">
           <div class="quotes">
               <p class="quote1">Mind your <i>MANNERS.</i></p>
               <p class="quote2">Tell the <i>TRUTH.</i></p>
               <p class="quote3">Know the <i>LAW.</i></p>
           </div>
       </div>
    <div class="sections">
        <div class="about">
            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
           <h2 class="title">About</h2>
            <p class="summary">
                Bringing almost 30 years of collective legal experience, we ensure families and the individual what they deserve.  Helping navigate through the emotional, financial, and legal challenges created by divorce or separation.
           </p>
        </div>
        <div class="approach">
            <i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i>
               <h2 class="title">Our Approach</h2>
            <p class="summary">
                We offer an innovative approach well-suited to temper the emotionally and financially difficult issues presented in domestic relation cases.  It blends the best features of mediation with the power of a zealous, individual advocate, more found in litigation.
            </p>
        </div>
        <div class="goal">
            <i class="fa fa-gavel fa-5x" aria-hidden="true"></i>
           <h2 class="title">Our Work</h2>
            <p class="summary">
                Working as a team with the client we bring hard work with creative approaches to reach our goal, and the respect you deserve.  Not wasting any time and making you feel like you're in the right hands that will get the job done.
            </p>
        </div>
    </div>
</div>
