<div class="main2">
    <div class="mobile-menu">
         <button class="menu" name="myButton" ng-click="showMenu(); show=!show"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
         <div ng-show="show">
            <ul class="navlinks-mobile">
               <button class="menu-overlay" name="myButton" ng-click="showMenu(); show=!show"><i class="fa fa-times" aria-hidden="true"></i> Menu</button>
                <a href="#/home" ng-click="showMenu(); show=!show"><li class="home-link">Home</li></a>
                <a href="#/focus" ng-click="showMenu(); show=!show"><li>Our Team</li></a>
                <a href="#/services" ng-click="showMenu(); show=!show"><li>Services</li></a>
                <a href="#/links" ng-click="showMenu(); show=!show"><li>Helpful Info</li></a>
                <a href="#/form" ng-click="showMenu(); show=!show"><li>Contact Us</li></a>
            </ul>
        </div>
      </div>
      <div class="services">
         <h1 class="title2">Helpful Information</h1>
            <h2 class="link-title">Downloads</h1>
             <ul class="help-links">
                <a href='./downloadable/divorce-agreement.docx' download><li>Anatomy of a Divorce (DOC)</li></a>
                <a href='./downloadable/preamble.pdf' download><li>Preamable to Mass Child Support (PDF)</li></a>
                <li>Timeline of a Divorce (PDF)</li></a>
             </ul>
             <h2 class="link-title">Links</h1>
             <ul class="help-links">
                <a href='http://www.plymouthcountyprobate.com/parent-education-programs/approved-program-providers/' target="_blank"><li>Parent Education Programs(PEP)</li></a>
                <a href='http://www.mass.gov/dor/child-support/guidelines.html' target="_blank"><li>Masschusetts Child Support Guidelines Worksheet</li></a>
                <a href='http://www.plymouthcountyprobate.com/TrialCourtForms/cjd301shortform.pdf' target="_blank"><li>Financial Statement Short Form</li></a>
                <a href='http://www.plymouthcountyprobate.com/TrialCourtForms/cjd301longform.pdf' target="_blank"><li>Financial Statement Long Form</li></a>
                <a href='http://www.plymouthcountyprobate.com/TrialCourtForms/cjd301schedulea.pdf' target="_blank"><li>Schedule A</li></a>
             </ul>
    </div>
</div>