<div class="main2">
    <div class="mobile-menu">
         <button class="menu" name="myButton" ng-click="showMenu(); show=!show"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
         <div ng-show="show">
            <ul class="navlinks-mobile">
               <button class="menu-overlay" name="myButton" ng-click="showMenu(); show=!show"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                <a href="#/home" ng-click="showMenu(); show=!show"><li class="home-link">Home</li></a>
                <a href="#/focus" ng-click="showMenu(); show=!show"><li>Our Team</li></a>
                <a href="#/services" ng-click="showMenu(); show=!show"><li>Services</li></a>
                <a href="#/form" ng-click="showMenu(); show=!show"><li>Contact Us</li></a>
            </ul>
        </div>
      </div>
    <h1 class="title2">Our Services & Practice Specialties</h1>
    <div class="services">
        <p class="service-info">Jennifer loves the healing nature of her practice which is dedicated exclusively to “family law” or “domestic relations cases” for the individuals, couples and families whom she serves. We help couples, families and individuals successfully navigate through the emotional, financial and legal challenges created by anticipated or actual divorce or separation. We also assist people with changes occurring after the entry of a judgment by the Probate and Family Court which affect the existing terms of their earlier case dispositions. We educate our clients on the countless paths available to them for resolving their issues through dispute resolution or through court-assisted settlement as well as on the court process itself. We are creative strategists and fierce advocates who stay committed to settlement created and controlled by our clients, not by the Probate and Family Court, whenever possible.   
        </p>
        <a href="#/approach"><h3 class="our-approach">View Our Approach Here</h3></a>
    </div>
    <div class="services">
       <h1 class="title2">Our Rates</h1>
        <p class="service-info">We tailor our professional rates to each case but generally require a retainer at the commencement of our work and usually bill our professional time by the hour. Our hourly rates are competitive and fair given Jennifer’s level of experience and the demand for her services. Your retainer is determined based upon the complexity and dynamics of your case, and it is placed into a separate client trust account from which funds are accessed each month after billing. For some cases, we may offer a flat fee; for others, we may be able to offer a monthly payment plan. We always are open to alternative billing structures in many circumstances as crafted together with each client.
        </p>
    </div>
</div>