<div class="main2">
  <div class="mobile-menu">
         <button class="menu" name="myButton" ng-click="showMenu(); show=!show"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
         <div ng-show="show">
            <ul class="navlinks-mobile">
               <button class="menu-overlay" name="myButton" ng-click="showMenu(); show=!show"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                <a href="#/home" ng-click="showMenu(); show=!show"><li class="home-link">Home</li></a>
                <a href="#/focus" ng-click="showMenu(); show=!show"><li>Our Team</li></a>
                <a href="#/services" ng-click="showMenu(); show=!show"><li>Services</li></a>
                <a href="#/links" ng-click="showMenu(); show=!show"><li>Helpful Info</li></a>
                <a href="#/form" ng-click="showMenu(); show=!show"><li>Contact Us</li></a>
            </ul>
        </div>
      </div>
  <div class="our-team-sidemenu">
      <ul class="side-options">
          <a href="#/focus"><li>Why Us?</li></a>
          <a href="#/jen"><li>Jennifer J. DiGregorio</li></a>
          <a href="#/team"><li>Our Team</li></a>
      </ul>
      </ul>
  </div>
   <div class="our-team-info">
        <h1 class="our-team-focus-titles">Our Team</h1>
        <h1 class="our-team-focus-titles">Elaine Joyce</h1>
        <img class="elaine" src="./images/Elaine.jpeg" alt="elaine">
        <p class="our-team-info2">Joining Jennifer in 2014 as a paralegal, Elaine Joyce provides client and office support with exemplary enthusiasm and skills. Often the first contact for people in distress seeking assistance, she instills immediate confidence in our clients because of her deep understanding of the legal process and her strong sense of calmness. Elaine previously served as a paralegal with The Law Office of Mary Hurley Bruno, P.C. handling exclusively family law cases for many years until Mary’s retirement when she shifted to Jennifer’s practice. Her wide range of earlier professional experience includes positions with a high end estate auction company and with several other established local businesses. Living in Marshfield for most of her adult life, she enjoys having three children graduate from local high schools and colleges and being part of this closely-knit town.
        </p>
        <h1 class="our-team-focus-titles">Meredith Techiera</h1>
        <img class="meri" src="./images/Meri.jpeg" alt="meredith">
        <p class="our-team-info2">Meredith commenced her work as a legal assistant and receptionist in the fall of 2014. Meredith truly cares about our clients, and her efforts in all aspects of case management enhance our overall efficiency. She brings solid administrative talents gleaned from her work with local medical practices as well as some of the finest hospitals in Boston. Meredith also has considerable experience as a day care provider and preschool teacher which is helpful because so much of our work involves children and the impact of divorce upon them. She also grew up on the South Shore where she and her family continue to participate of in her local schools, sports and volunteerism.   </p>
    </div>
</div>