body {
    margin: 0 auto;
    font-size: 94%;
    font-family: 'Raleway', sans-serif;
    color: #eee9dc;
    background-image: url(./images/Flannel.jpeg);
}

.mobile-menu {
    display: none;
}

.menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    padding-bottom: 1em;
}

.fa bars {
    color: #fff;
}
/*-----------------------------
Header
-------------------------------*/
.social {
    width: 93%;
    overflow: auto;
    padding: 1.1em;
}
.name {
    font-family: 'Times New Roman';
    float: left;
    font-size: 36px;
    margin-left: 1em;
}
.name ul{
    list-style: none;
    color: #93a8e2;
}
.name-title{
    font-size: 52px;
    color: #fff;
}
.icons {
    float: right;
    width: 13%;
    margin-top: -1em;
}

.number{
    color: #93a8e2;
}

.icons li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 5px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.contact-info li{
    list-style: none;
    margin-right: -13px;
    position: relative;
    padding: 5px 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.contact-info {
    color: #fff;
    font-size: 13px;
    width: 18%;
    float: right;
    margin-top: 2em;
    font-family: serif;
}

.mobile-contact-info {
    display: none;
}

.fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icons .email:hover, .icons .linked:hover, .icons .facebook:hover {
    cursor: pointer;
    color: #fff;
}

.social .email {
    color: #555;
}

.social .facebook {
    color: #555;
}

.social .linked {
    color: #555;
}

/*-----------------------------
Navigation
/*-----------------------------*/
.navigation {
    text-align: left;
    display: inline;
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.navigation li {
    font: bold 17px 'Raleway' sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 7px 92.2px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navigation li:hover {
    text-decoration: underline;
    background-color: dimgray;
    text-decoration-color: #93a8e2;
    color: #93a8e2;
}
.navigation li .attorneys {
    padding: 0;
    position: absolute;
    top: 23px;
    left: 0px;
    width: 248px;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.navigation li .attorneys li {
    background: #555;
    display: block;
    text-shadow: 0 -1px 0 #000;
}
.navigation li .attorneys li:hover {
    background: dimgray;
    color: #93a8e2;
}
.navigation li:hover .attorneys {
    display: block;
    opacity: 1;
    color: #93a8e2;
    visibility: visible;
}
.navlinks {
    margin-left: 8em;
    margin-top: 1em;
    text-align: center;
    width: 82.2%;
    background-color: gray;
}


/* -------------------------------------
* timeline
* ------------------------------------- */
#timeline-body{
    width: 80%;
    background-color: #fff;
    color: #93a8e2;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    -webkit-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
}

#timeline {
    list-style: none;
    margin: 50px 0 30px 47px;
    padding-left: 30px;
}
#timeline li {
    margin: 40px 0;
    position: relative;
}
#timeline p {
    margin: 0 0 15px;
}

.title2{
    margin-left: 2.5em;
    color: #93a8e2;
}

.date {
    margin-top: -10px;
    top: 50%;
    left: -202px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 5px solid #595b5b;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}
.content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}
.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}
.content:after {
    border-right-color: #fff;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}
.content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    font-size: 14px;
    hyphens: auto;
    overflow: hidden;
}

label {
    font-size: 1.6em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 18px;
    transition: transform 0.2s linear;
}

.radio {
    display: none;
}

.radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
}
.radio:checked + .relative .circle {
    background: #93a8e2;
}
.radio:checked ~ .content {
    max-height: 213px;
    border-color: #595b5b;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
    max-height: 210px;
    color: #595b5b;
    transition: color 0.3s linear 0.3s;
}

.service-info {
    color: #666;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.our-approach {
    color: #93a8e2;
    margin-left: 4.5em;
}
.our-approach:hover {
    text-decoration: underline;
}
/*--------------------------------------
home
/*--------------------------------------*/
.main1{
    width: 80%;
    background-color: #fff;
    color: #fcfdff;
    padding: 1em;
    padding-bottom: 29em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    -webkit-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
}
.sections {
    background-color: #fff;
    width: 103%;
    color: #fff;
    margin-left: 1.4em;
}
.about{
    background-color: #93a8e2;
}

.approach{
    background-color: #c0c4c6;
}

.goal{
    background-color: #555;
}
.about, .goal, .approach{
    float: left;
    width: 26%;
    padding: 1.9em;
    padding-bottom: 11em;
    text-align: center;
}


.about-image{
    background-image: url(./images/stones.jpeg);
    background-position: left;
    background-repeat: no-repeat;
    height: 25.938rem;
    margin-bottom: 1em;
    margin-left: 3em;
    overflow: auto;
}

.quote {
    z-index: 1;
    width: 59%;
    color: #93a8e2;
    margin-left: 12em;
    margin-top: 4em;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.line1{
    text-indent: 12.7em;
    line-height: .5em;
}
.line2{
    text-indent: 4em;
    line-height: .5em;
}
.line3{
    line-height: .5em;
}
.subtext{
    margin-left: 17.5em;
    font-size: 21px;
}

.fa-balance-scale, .fa-users, .fa-gavel{
    color: #fff;
}
/*--------------------------------------
jen
-----------------------------------------*/
.main2 {
    width: 80%;
    background-color: #fff;
    color: #fcfdff;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    -webkit-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
}

.jen {
    float: left;
    width: 215px;
    height: 215px;
    margin-left: -1em;
    padding: 1em;
}

.team-info {
    color: #666;
}
.sidemenu {
    float: left;
    width: 22%;
    font-size: 17px;
    margin-top: 5.5em;
    margin-left: 2em;
    padding-bottom: 13em;
    border-right: thin solid #93a8e2;
}

.side-options {
   list-style: none;
    padding: 1em;    
}

.side-options li {
    padding: 1em;
    color: #93a8e2;
}

.side-options li:hover {
   text-decoration: underline;
}

.focus-titles, contact-titles {
    color: #93a8e2;
}
.info {
    width: 70%;
    margin-left: 21em;
}

.our-team-sidemenu {
    float: left;
    width: 22%;
    font-size: 17px;
    margin-top: 5.5em;
    margin-left: 2em;
    padding-bottom: 13em;
}

.our-team-info {
    width: 70%;
    margin-left: 21em;
    color: #666;
    border-left: thin solid #93a8e2;
}

.our-team-info2 {
    margin-left: 3em;
    color: #666;
}

.our-team-focus-titles {
    margin-left: 1.5em;
    color: #93a8e2;
}
/*--------------------------------------
form
----------------------------------------*/
.main{
    width: 80%;
    background-color: #fff;
    color: #fcfdff;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    -webkit-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
    box-shadow: 1px 4px 44px -5px rgba(0,0,0,0.88);
}

input {
    padding: 0em;
}
form {
    float: left;
    width: 40%;
    color: #666;
    padding: 1em;
    margin-left: 3em;
}
.contact-us {
   width: 54%;
   margin-left: 29em;
   border-left: thin solid #93a8e2;
 }
.contact-info2 li{
    list-style: none;
    margin-right: -13px;
    position: relative;
    padding: 5px 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.contact-info2 {
    color: #666;
    font-size: 16px;
    width: 40%;
    font-family: serif;
    float: right;
    margin-right: 5em;
}

.location-info {
    color: #666;
}
.contact-titles {
    color: #93a8e2;
}
/*---------------------------------------
map
-----------------------------------------*/
.angular-google-map-container {
    height: 150px;
    width: 169px;
    margin-bottom: 15px;
}
/*
/* -------------------------------------
* Responsive
* ------------------------------------- */

@media only screen and (min-width: 320px) /*and (max-width: 374px)*/{
    .social {
        width: 100%;
    }
    .name {
        margin-left: 0em;
        margin-right: 0em;
        width: 100%;
    }
    .name-title {
        font-size: 24px;
        margin-right: 1em
    }
    .name-title2 {
        font-size: 18px;
        margin-left: 2em;
    }
    .mobile-menu {
        display: inline;
        z-index: 100000;
    }
    .menu {
       background-color: grey;
       border: none;
       color: #fff;
       font-size: 14px;
       padding-top: 0.5em;
       width: 100%;
    }
    .menu-overlay {
        background: none;
        border: none;
        color: #fff;
        font-size: 1.2em;
        padding-bottom: 1em;
    }
    .navlinks {
        display: none;
    }
    .navlinks-mobile {
       background-color: gray;
       list-style: none;
       color: #fff;
       width: 100%;
       font-size: 45px;
       padding-top: 1em;
       margin-top: 0em;
       height: 100%;
       left: 0;
       top: 0;
       position: fixed;
       z-index: 1;
       overflow-x: hidden;
       transition: 0.5s;
    }
    .contact-info {
       display: none;
    }
    .main1 {
       width: 100%;
       padding: 0em;
       padding-bottom: 35em;
    }
    .about-image {
        width: 100%;
    }
    .quote {
        display: none;
    }
    .mobile-contact-info li {
        list-style: none;
        margin-right: -13px;
        position: relative;
        padding: 5px 20px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .mobile-contact-info {
        color: #fff;
        font-size: 13px;
        width: 18%;
        float: right;
        margin-top: 2em;
        font-family: serif;
    }
    
    .sections {
        margin-left: -1em;
        width: 100%;
    }
    .about, .goal, .approach {
        width: 100%;
        font-size: 13px;
        padding: 1em;
        padding-bottom: 4em;
    }
    .main2 {
        width: 100%;
        padding-bottom: 1em;
        margin-bottom: 0em;
        padding: 0em;
    }
    .sidemenu {
        width: 100%;
        font-size: 13px;
        margin-top: 0em;
        margin-left: 0em;
        padding-bottom: 0em;
        border-left: none;
    }
    .side-options {
        list-style: none;
        padding: 1em;
        display: inline-flex;
    }
    .info {
        margin-left: 2em;
        width: 95%;
        padding-bottom: 1em;
    }
    .team-info {
        width: 90%;
    }
    .jen {
        margin-left: 1em;
    }
    .our-team-sidemenu {
        width: 100%;
        font-size: 13px;
        margin-top: 0em;
        margin-left: 0em;
        padding-bottom: 0em;
    }
    .our-team-info {
        width: 84%;
        margin-left: 0em;
        border-left: none;
        padding-bottom: 1em;
    }
    .our-team-info2 {
        width: 95%
    }
    .services {
        padding-bottom: 1em;
    }
    .title2 {
        margin-left: 1em;
    }
    .our-approach {
        margin-left: 1.5em;
    }
    #timeline-body {
        width: 100%;
        margin-bottom: 0em;
        padding: 0em;
        padding-bottom: 1em;
    }
    #timeline {
        margin: 50px 0px 30px 64px;
    }
    .circle {
        top: 52%;
        left: -85px;
        width: 4px;
        height: 4px;
        border: 3px solid #595b5b;
    }
    label {
        font-size: 1em;
        margin-left: -4.5em;
        top: 22px;
    }
    .content {
        padding: 50px 6px 0px;
    }
    .radio:checked ~ .content {
        max-height: 598px;
        width: 112%;
        margin-left: -5em;
        margin-right: -1em;
    }
    .radio:checked ~.content p {
        width: 94%;
        max-height: 598px;
    }
    #timeline p {
        font-size: 11px;
    }
    .main {
        width: 100%;
        padding: 0em;
        margin-bottom: 0em;
        padding-bottom: 2em;
    }
    .contact-us {
        width: 73%;
        margin-left: 1em;
        border-left: none;
    }
    .contact-info2 {
        width: 100%;
        font-size: 16px;
        margin-right: 0em;
    }
    .angular-google-map-container {
        width: 290px;
    }
}
@media only screen and (min-width: 375px) /*and (max-width: 424px) */ {
    .social {
        width: 100%;
    }
    .name {
        margin-left: 0em;
        margin-right: 0em;
        width: 100%;
    }
    .name-title {
        font-size: 24px;
        margin-right: 1em
    }
    .name-title2 {
        font-size: 18px;
        margin-left: 2em;
    }
    .mobile-menu {
        display: inline;
        z-index: 100000;
    }
    .menu {
       background-color: grey;
       border: none;
       color: #fff;
       font-size: 14px;
       padding-top: 0.5em;
       width: 100%;
    }
    .menu-overlay {
        background: none;
        border: none;
        color: #fff;
        font-size: 1.2em;
        padding-bottom: 1em;
    }
    .navlinks {
        display: none;
    }
    .navlinks-mobile {
       background-color: gray;
       list-style: none;
       color: #fff;
       width: 100%;
       font-size: 45px;
       padding-top: 1em;
       margin-top: 0em;
       height: 100%;
       left: 0;
       top: 0;
       position: fixed;
       z-index: 1;
       overflow-x: hidden;
       transition: 0.5s;
    }
    .contact-info {
       display: none;
    }
    .main1 {
       width: 100%;
       padding: 0em;
       padding-bottom: 35em;
    }
    .about-image {
        width: 100%;
    }
    .quote {
        display: none;
    }
    .mobile-contact-info li {
        list-style: none;
        margin-right: -13px;
        position: relative;
        padding: 5px 20px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .mobile-contact-info {
        color: #fff;
        font-size: 13px;
        width: 18%;
        float: right;
        margin-top: 2em;
        font-family: serif;
    }
    
    .sections {
        margin-left: -1em;
        width: 100%;
    }
    .about, .goal, .approach {
        width: 87%;
        font-size: 13px;
        padding: 1em;
        padding-bottom: 4em;
    }
    .main2 {
        width: 100%;
        padding-bottom: 1em;
        margin-bottom: 0em;
        padding: 0em;
    }
    .sidemenu {
        width: 90%;
        font-size: 13px;
        margin-top: 0em;
        margin-left: 0em;
        padding-bottom: 0em;
        border-left: none;
    }
    .side-options {
        list-style: none;
        padding: 1em;
        display: inline-flex;
    }
    .info {
        margin-left: 2em;
        width: 95%;
        padding-bottom: 1em;
    }
    .team-info {
        width: 78%;
    }
    .jen {
        margin-left: 1em;
    }
    .our-team-sidemenu {
        width: 90%;
        font-size: 13px;
        margin-top: 0em;
        margin-left: 0em;
        padding-bottom: 0em;
    }
    .our-team-info {
        width: 84%;
        margin-left: 0em;
        border-left: none;
        padding-bottom: 1em;
    }
    .our-team-info2 {
        width: 78%
    }
    .services {
        padding-bottom: 1em;
        width: 84%;
    }
    .title2 {
        margin-left: 1em;
        font-size: 1.5em;
    }
    .our-approach {
        margin-left: 1.5em;
    }
    #timeline-body {
        width: 100%;
        margin-bottom: 0em;
        padding: 0em;
        padding-bottom: 1em;
    }
    #timeline {
        margin: 50px 0px 30px 64px;
    }
    .circle {
        top: 52%;
        left: -85px;
        width: 4px;
        height: 4px;
        border: 3px solid #595b5b;
    }
    label {
        font-size: 1em;
        margin-left: -4.5em;
        top: 22px;
    }
    .content {
        padding: 50px 6px 0px;
    }
    .radio:checked ~ .content {
        max-height: 598px;
        width: 95%;
        margin-left: -5em;
        margin-right: -1em;
    }
    .radio:checked ~.content p {
        width: 94%;
        max-height: 598px;
    }
    #timeline p {
        font-size: 11px;
    }
    .main {
        width: 100%;
        padding: 0em;
        margin-bottom: 0em;
        padding-bottom: 2em;
    }
    .contact-us {
        width: 69%;
        margin-left: 1em;
        border-left: none;
    }
    .contact-info2 {
        width: 100%;
        font-size: 16px;
        margin-right: 0em;
    }
    .angular-google-map-container {
        width: 290px;
    }
}

@media only screen and (min-width: 425px) /*and (max-width: 767px)*/ {
    .name {
        margin-left: .5em;
    }
    .title2 {
        font-size: 1.3em;
    }
    .menu {
        width: 100%;
    }
    .contact-us {
        width: 65%;
    }
    .angular-google-map-container {
        width: 340px;
    }
}

@media only screen and (min-width: 768px) /*and (max-width: 1023px)*/ {
    .social {
    width: 100%;
    overflow: auto;
    padding: 1.1em;
}
.name {
    font-family: 'Times New Roman';
    width: 52%;
    float: left;
    font-size: 10px;
    margin-left: 1em;
    margin-top: 3em;
}
.name ul{
    list-style: none;
    color: #93a8e2;
}
.name-title{
    font-size: 25px;
    color: #fff;
}
.name-title2{
    font-size: 20px;
    margin-left: 1em;   
}
.icons {
    float: right;
    width: 13%;
    margin-top: -1em;
}

.number{
    color: #93a8e2;
}

.icons li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 5px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.contact-info li{
    list-style: none;
    margin-right: -13px;
    position: relative;
    padding: 5px 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.contact-info {
    color: #fff;
    font-size: 12px;
    width: 32%;
    margin-right: 9em;
    float: right;
    margin-top: 0em;
    font-family: serif;
    display: inline;    
}
    .menu {
        width: 100%;
    }
    .mobile-contact-info {
        display: none;
    }
    .about-image{
        margin-left: 0em;
    }
    .quote {
        display: inline;
        font-size: 18px;
    }
    .line1 {
        text-indent: 28.7em;
    margin-top: 4em;
   }
    .line2 {
            text-indent: 20em;
    }
    .line3 {
        text-indent: 16em;
    }
    .sections {
        width: 96%;
    }
    .sidemenu {
        width: 100%;
        font-size: 20px;
    }
    .our-team-sidemenu {
        width: 100%;
        font-size: 20px;
    }
    .radio:checked ~ .content {
        width: 85%;
    }
    form {
        width: 100%;
    }
    .contact-us {
        width: 75%;
        margin-left: 3em;
    }
    .contact-info2 {
        width: 90%;
    }
    .angular-google-map-container {
        width: 540px;
        height: 190px;
    }
}

@media only screen and (min-width: 1024px) {}
   